{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My parser</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<div class="header">
<h1 style="text-align: center;">Парсинг сайтов по запросу <br> Python Developer</h1>
</div>

<div class="block1" >
      <h1 style="text-align: center;">Название</h1>
     {%for i in job.title%}
       <div class="clip">{{i}}</div>
         {%endfor%}</div>


<div class="block2">
<h1>Ссылка</h1>
     {%for i in job.href%}
       <div class="clip"><a href="{{i}}">Ссылка</a></div>
         {%endfor%}</div>


<div class="block3">
<h1 style="text-align: center;" >Комания</h1>
     {%for i in job.company%}
       <div class="clip">{{i}}</div>
         {%endfor%}</div>


<div class="block4">
<h1>Описание</h1>
     {%for i in job.content%}
       <div class="clip">{{i}}</div>
         {%endfor%}</div>


</body>
</html>